
<div class="main-div">
    <div class="row place-start">
        <div class="material-card cards">
            <h1 class="header">
                SignUp Page 
            </h1>
            <div class="signup-img">
                <img src="assets/signup.PNG" alt="Signup">
            </div>
            <div class="points ripple" routerLink="/signup">
                <mat-icon>trending_flat</mat-icon>
            </div>
        </div>
    </div>
    <div class="row place-end">
        <div class="material-card cards">
            <h1 class="header">
                Login Page
            </h1>
            <div class="signup-img">
                <img src="assets/login.PNG" alt="Signup">
            </div>
            <div class="point-left ripple" routerLink="/login">
                <mat-icon>trending_flat</mat-icon>
            </div>
        </div>
    </div>
    <div class="row place-start">
        <div class="material-card cards">
            <h1 class="header">
                Tasks Page 
            </h1>
            <div class="signup-img">
                <img src="assets/tasks.PNG" alt="Signup">
            </div>
            <div class="points ripple" routerLink="/add-task">
                <mat-icon>trending_flat</mat-icon>
            </div>
        </div>
    </div>
    <div class="row place-end">
        <div class="material-card cards">
            <h1 class="header">
                Profile Page
            </h1>
            <div class="signup-img">
                <img src="assets/profile.PNG" alt="Signup">
            </div>
            <div class="point-left ripple" routerLink="/profile">
                <mat-icon>trending_flat</mat-icon>
            </div>
        </div>
    </div>
</div>