<!-- {{ $user | async | json }} -->
<br />
<table border="2" style="width: 100%;">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Profile Picture</th>
        <th>Role</th>
        <th></th>
    </tr>
    <tr *ngFor="let user of $user | async">
        <td align="center">{{ user.username }}</td>
        <td align="center">{{ user.email }}</td>
        <td align="center">{{ user.mobilenumber }}</td>
        <td align="center">{{ user.gender }}</td>
        <td align="center">
            <img [src]="user.profilepic" alt="">
        </td>
        <td align="center">
            <mat-form-field appearance="fill">
                <mat-label>Roles</mat-label>
                <mat-select [value]="getRoles(user.roles)" (selectionChange)="onChange($event, user)" multiple>
                  <mat-option *ngFor="let role of roles" [disabled]="role.id === 1" [value]="role.id">
                    {{role.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td align="center">
            <button mat-icon-button (click)="submit(user)">
                <mat-icon>done</mat-icon>
            </button>
        </td>
    </tr>
</table>